{{! header here }}
{{! each content here }}

    <footer id="footer" class="clearfix">
      <section id="copyright">Copyright &copy; {{year}} <a href="{{home.url}}">{{home.title}}</a>. All rights reserved.</section>
    </footer>

    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/typed.min.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>
  </body>
