/*Global*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  /*background-color: #333333;*/
}
header {
  background-color: #333333;
  overflow: auto;
}

/*Header*/
#header {
  width: 1000px;
  margin: 0 auto;
  font-family: 'Open Sans';
}
#header a {
  color: #c0d1d1;
  font-size: 20px;
}
#header a i {
  font-size: 25px;
}
#header ul {
  list-style: none;
  float: right;
}
#header ul li {
  float: left;
  padding: 20px 20px;
}
#homeicon {
  float: left !important;
}

.subcontainer {
  max-width: 1000px;
  margin: 0 auto;
}

/*Index*/
#page-1 {
  background: radial-gradient(#8ca6db, #b993d6);
  min-height: 100vh;
}
.type-wrap {
  height: 500px;
  margin: 0 50px;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 10px 10px;

  font-family: 'Menlo', 'Source Code Pro';
  font-size: 80px;
  color: #32cd32;
  font-weight: 100;
}
.title-bar {
  height: 25px;
  margin: 0 50px;
  background: linear-gradient(#e5e5e5, #c9c9c9);
  text-align: center;
  border-radius: 10px 10px 0 0;
  font-size: 15px;
  font-family: 'ヒラギノ角ゴ'
}
.title-bar p {
  display: inline;
}
.title-bar p:nth-child(1) {
  position: absolute;
  left: 60px;
  color: red;
}
.title-bar p:nth-child(2) {
  position: absolute;
  left: 80px;
  color: orange;
}
.title-bar p:nth-child(3) {
  position: absolute;
  left: 100px;
  color: green;
}
.title-bar p:nth-child(4) {
  color: #333333;
}
#page-2 {
  background: radial-gradient(#f46b45, #eea849);
}
#works {
  height: 600px;
  margin: 0 50px;
  background-color: #fcfcfc;
  border-radius: 0 0 10px 10px;
}
#finder-title-bar {
  height: 70px;
  border-bottom: #969696 2px solid;
}
.folder-wrap {
  display: inline-block;
  margin: 50px 0 0 50px;
}
.folder {
  display: inline-block;
  text-align: center;
  padding: 30px 10px;
}
.folder:hover {
  background-color: #dbdbdb;
  border-radius: 10px;
}
#works a {
  display: inline-block;
  color: #333333;
}
#works a:hover {
  color: #ffffff;
}

/*niconicommander*/
.work-title {
  background: linear-gradient(135deg, rgba(74, 86, 157, 0.96), rgba(220, 36, 36, 0.96)),
  url(/images/niconico_background.png);
  background-size: cover;
  padding: 100px;
  text-align: center;
  color: skyblue;
}
.work-title h1, .work-title p {
  margin: 10px 0;
}
.work-title p {
  margin: 10px 0 30px;
}
.download {
  width: 250px;
}
.subcontainer h1 {
  font-family: 'Menlo', 'Source Code Pro';
  color: #32cd32;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  padding: 5px 15px;
  margin: 30px 0 10px;
}
.subcontainer h1:before {
  content: '> ';
}
.subcontainer h1:after {
  content: '_';
}
.subcontainer :not(h1) {
  padding: 0 20px;
}
.subcontainer li {
  list-style: none;
}
.detail-icon {
  max-width: 1000px;
  margin: 30px auto;
  text-align: center;
}
.balloon-wrap {
  display: inline-block;
  text-align: center;
}
.balloon {
  opacity: 0;
  background-color: #333333;
  color: #dbdbdb;
  margin: 10px 0;
  padding: 10px 15px;
  border-radius: 8px;
}
.balloon-icon {
  display: inline-block;
}
.balloon-icon .fa-download {
  font-size: 50px;
  color: orange;
}
.balloon-icon .fa-github {
  font-size: 60px;
  color: #000000;
}
.balloon-icon .fa-twitter {
  font-size: 50px;
  color: skyblue;
}

/*Footer*/
#footer {
  position: relative;
  padding: 15px 0;
  font-size: 1px;
  font-family: 'Open Sans';
  color: #c0d1d1;
  background-color: #333333;
}
#copyright {
  text-align: center;
}
#copyright a {
  font-weight: bold;
  color: #c0d1d1;
}
#copyright a:hover {
  text-decoration: underline;
}

/*404 Not Found*/
#notfound-typed a {
  color: #32cd32;
}
#notfound-typed a:hover {
  padding-bottom: 5px;
  border-bottom: #32cd32 2px solid;
}

/*Additional*/
.dummy {
  height: 30px;
}
.clearfix {
  clear: both;
}
