{{> header}}
    <div id="container">
      <div class="subcontainer" id="page-1">
        <div class="dummy"></div>
        <div class="terminal">
          <div class="title-bar">
            <p>●</p>
            <p>●</p>
            <p>●</p>
            <p>not-found@noraworld.jp</p>
          </div>
          <div class="type-wrap">
            <span id="notfound-typed">&gt;</span>
          </div>
        </div>
        <div class="dummy"></div>

      </div>
    </div>
{{> footer}}
