{{> header}}
    <div id="container">

      <div class="subcontainer clearfix" id="about-noraworld">
        <div class="pos-left">
          <img src="{{home.icon}}" alt="{{home.title}}">
        </div>
        <div class="pos-right">
          <h1>{{home.title}}</h1>
          <p>{{home.title}} は、個人で制作したアプリやサービス、ブラウザ拡張機能などを紹介するポートフォリオです。</p>
        </div>
      </div>

      <div class="subcontainer clearfix" id="about-me">
        <div class="pos-left">
          <h1>about me</h1>
          <p>のらといいます。情報を学ぶ大学生です。2015年冬に Google Chrome の拡張機能を作り始めて以来、Web に興味を持つようになりました。2016年2月上旬に拡張機能を Chrome Web Store に公開した後、自分の作ったものをもっと多くの人に知ってもらいたいと思うようになり、3月に noraworld.jp を取得しました。現在は大学で授業を受ける傍ら、趣味で Web 関係の勉強をしています。</p>
        </div>
        <div class="pos-right">
          <img src="/images/nora.png" alt="nora">
        </div>
      </div>

      <div class="subcontainer">
        <div id="twitter-widget">
          <a class="twitter-timeline" href="https://twitter.com/nora20120808" data-widget-id="728478600345722880">@nora20120808さんのツイート</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div id="instagram-widget">
          <iframe src="http://snapwidget.com/in/?u=bm9yYWZmeXdvcmxkfGlufDIwMHwyfDV8fHllc3w1fG5vbmV8b25TdGFydHxub3xubw==&ve=090516" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; width:430px; height:1100px; padding:0"></iframe>
        </div>
      </div>

    </div>
{{> footer}}
