{{> header}}
  <div id="container">
    <div class="subcontainer" id="hoge">
    <div class="dummy"></div>
    <div class="terminal">
      <div class="tool-bar">
        <p>●</p>
        <p>●</p>
        <p>●</p>
        <p>noraworld@localhost</p>
      </div>

      <div class="type-wrap">
        <span id="typed">&gt;</span>
      </div>
    </div>

    </div>
  </div>
{{> footer}}
