{{> header}}
    <div id="container">
      <div id="page-1">
        <div class="dummy"></div>
        <div class="terminal">
          <div class="title-bar">
            <p>●</p>
            <p>●</p>
            <p>●</p>
            <p>nora@noraworld.jp</p>
          </div>
          <div class="type-wrap">
            <span id="typed">&gt;</span>
          </div>
        </div>
        <div class="dummy"></div>

        <div id="page-2">
          <div class="dummy"></div>
          <div class="finder">
            <div class="title-bar" id="finder-title-bar">
              <p>●</p>
              <p>●</p>
              <p>●</p>
              <p>works</p>
            </div>
            <div id="works">
              <div class="folder-wrap">
                <a href="/works/niconicommander" alt="ニコニコマンダー">
                  <div class="folder">
                    <img src="/images/folder.png" alt="folder">
                    <p>niconicommander</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="dummy"></div>
        </div>

      </div>
    </div>
{{> footer}}
