{{> header}}
    <div id="container">
      <div id="type-wrap">
        <span id="typed"></span>
      </div>

      <div class="subcontainer">
        <a href="{{works.niconicommander.url}}" alt="{{works.niconicommander.title}}"><img class="work-image" src="images/niconicommander.png"></a>
      </div>
    </div>
{{> footer}}
