{{> header}}
    <div id="container">

      <div class="work-title">
        <img src="../images/niconicommander.png">
        <h1>ニコニコマンダー</h1>
        <p>ニコニコ動画視聴ページに便利なショートカットキーと機能を追加します。</p>
        <a href="https://chrome.google.com/webstore/detail/%E3%83%8B%E3%82%B3%E3%83%8B%E3%82%B3%E3%83%9E%E3%83%B3%E3%83%80%E3%83%BC/baiinihbicmkmkhblpboabkckgheaahm?utm_source=chrome-ntp-icon" target="_blank" alt="{{works.niconicommander.title}}"><img class="download" src="../images/download_on_chrome_webstore.png"></a>
      </div>

      <div class="subcontainer">
        <h1>Usage</h1>
        <p>ニコニコ動画のページで以下のショートカットキーが使えるようになります。</p>
        <ul>
          <li>再生/停止: Space キーまたは K</li>
          <li>数秒戻る: 左矢印または J</li>
          <li>数秒進める: 右矢印または L</li>
          <li>動画の一番最初に移動する: 0 または H</li>
          <li>動画の10%の位置に移動する: 1</li>
          <li>動画の20%の位置に移動する: 2</li>
          <li>動画の30%の位置に移動する: 3</li>
          <li>動画の40%の位置に移動する: 4</li>
          <li>動画の50%の位置に移動する: 5</li>
          <li>動画の60%の位置に移動する: 6</li>
          <li>動画の70%の位置に移動する: 7</li>
          <li>動画の80%の位置に移動する: 8</li>
          <li>動画の90%の位置に移動する: 9</li>
          <li>動画の一番最後に移動する: E</li>
          <li>以前の再生位置に戻る: B</li>
          <li>フルスクリーンモード/解除: S</li>
          <li>指定した時間にジャンプ: T</li>
          <li>コメントを入力する: CC</li>
          <li>フォーカスを外す: Esc</li>
        </ul>
      </div>

      <div class="subcontainer">
        <h1>Download</h1>
        <a href="https://chrome.google.com/webstore/detail/%E3%83%8B%E3%82%B3%E3%83%8B%E3%82%B3%E3%83%9E%E3%83%B3%E3%83%80%E3%83%BC/baiinihbicmkmkhblpboabkckgheaahm?utm_source=chrome-ntp-icon" target="_blank" alt="{{works.niconicommander.title}}">Chrome ウェブストア - ニコニコマンダー</a>
      </div>

      <div class="subcontainer">
        <h1>View source</h1>
        <a href="https://github.com/noraworld/niconicommander" target="_blank" alt="{{works.niconicommander.title}}">GitHub - niconicommander</a>
      </div>

      <div class="subcontainer">
        <h1>Request</h1>
        <p>不具合・バグ報告、新機能の提案などがあれば、気軽に Twitter (<a href="https://twitter.com/nora20120808" target="_blank">@nora20120808</a>) でリプライをお送りください。</p>
    </div>
{{> footer}}
