* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}

#canvas {
  width: 100%;
  height: 100vh;
  background-color: rgb(16, 27, 51);
  position: relative;
}
noscript div {
  color: #ffffff;
  font-family: 'BlinkMacSystemFont';
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll-down {
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 6rem;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  color: rgba(255, 255, 255, .8);
  z-index: 100;
  text-decoration: none;
  animation: bounce 2s infinite;
}

#profile, #works, #activities {
  width: 100%;
  height: 700px;
  font-family: 'Josefin Slab';
  font-style: italic;
  font-weight: 100;
  color: #eeeeee;
}
#profile, #activities {
  background-color: #fff6fc;
}
#works {
  /*background-color: #f6f9ff;*/
  background-color: #ffe6f7;
}

.title {
  font-size: 8rem;
}
.contents-box {
  font-size: 4rem;
}

.title {
  width: 45%;
  height: 100%;
}
.contents-box {
  width: 55%;
  height: 100%;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(216, 113, 153);
}
.contents-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contents-box .contents-wrapper .content {
  margin-top: 10px;
  margin-bottom: 10px;
}
.contents-box .contents-wrapper .content .matter {
  color: rgb(128, 128, 128);
}
.contents-box .contents-wrapper .content a.matter {
  border-bottom: 1px solid;
  text-decoration: none;
}
.contents-box .contents-wrapper .content a.matter:hover {
  color: rgb(64, 64, 64);
}
.matter-title {
  float: left;
  display: inline-block;
  text-align: right;
  width: 200px;
  padding-right: 30px;
}
.matter-content {
  float: right;
  display: inline-block;
  text-align: left;
  width: 350px;
}

#footer {
  font-family: 'Open Sans';
  font-size: 1rem;
  color: #3f2e2e;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff6fc;
  text-align: center;
}
#footer a {
  text-decoration: none;
  color: #3f2e2e;
  font-weight: bold;
}
#footer a:hover {
  border-bottom: #3f2e2e 1px solid;
}

.left {
  float: left;
}
.right {
  float: right;
}
.clearfix {
  clear: both;
  overflow: auto;
}

/* layout breaks from 1163px */
@media only screen and (max-width: 1165px) {
  html {
    font-size: 55%;
  }

  .matter-title {
    width: 170px;
  }
  .matter-content {
    width: 290px;
  }
}

/* layout breaks from 1054px */
@media only screen and (max-width: 1055px) {
  html {
    font-size: 50%;
  }

  .matter-title {
    width: 150px;
    padding-right: 20px;
  }
  .matter-content {
    width: 250px;
  }
}

/* layout breaks from 799px */
@media only screen and (max-width: 800px) {
  html {
    font-size: 45%;
  }

  #profile, #works, #activities {
    height: auto;
    overflow: visible;
  }
  .title {
    width: 100%;
    height: 80vw;
  }
  .contents-box {
    width: 100%;
    height: 80vw;
  }
}

/* layout breaks from 439px */
@media only screen and (max-width: 440px) {
  html {
    font-size: 40%;
  }

  .matter-title {
    width: 110px;
  }
  .matter-content {
    width: 200px;
  }

  .contents-box .contents-wrapper .content a.matter {
    border-bottom: 0.5px solid;
  }
}

/* layout breaks from 399px */
@media only screen and (max-width: 400px) {
  .matter-title {
    padding-right: 10px;
    padding-left: 0;
  }
  .matter-content {
    padding-right: 0;
  }

  .contents-box {
    height: 100vw;
  }
}

/* layout breaks from 361px */
@media only screen and (max-width: 360px) {
  #profile .contents-box {
    font-size: 3.6rem;
  }
}

/* layout breaks from 319px, but do not care */
